.header-search-history {
  padding-bottom: 8px;
  position: absolute;
  top: 46px;
  border-top: 1px solid #ccc;
  left: 0;
  right: 0;
  max-width: 590px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.36);
}
